flows.json
[
    {
        "id": "54eb5b64853ddf4c",
        "type": "tab",
        "label": "Trang Trại Thông Minh",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1fc5ee7440306f40",
        "type": "mqtt in",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "DHT11/NhietDo",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e361af75daf99b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 380,
        "wires": [
            [
                "63b40ae16ced01be",
                "baec9c6947c857f1",
                "c339dddc553b790e",
                "60840003099088c6"
            ]
        ]
    },
    {
        "id": "0540a8a118f4564e",
        "type": "mqtt in",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "DHT11/DoAm",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e361af75daf99b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "796ecebf2b503489",
                "aa376acca5696f9b",
                "fd72033d88a02587",
                "60840003099088c6"
            ]
        ]
    },
    {
        "id": "796ecebf2b503489",
        "type": "ui_gauge",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "6f6a4ea028d1928b",
        "order": 10,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "độ ẩm",
        "label": "độ ẩm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#c8ff00",
            "#04db00",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "90",
        "className": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "63b40ae16ced01be",
        "type": "ui_gauge",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "6f6a4ea028d1928b",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "nhiet do",
        "label": "dộ C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#eeff00",
            "#00a331",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "className": "",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b4290580deebd7a",
        "type": "ui_numeric",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "label": "Đặt nhiệt độ phòng",
        "tooltip": "",
        "group": "f744e1baa03aa225",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "a",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c64afc4565c00723"
            ]
        ]
    },
    {
        "id": "c64afc4565c00723",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "so sanh 2 so (suong)",
        "func": "context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\ncontext.node2 = context.node2 || 0;\n\nif (msg.topic == 'DHT11/NhietDo'){\n    context.node = msg.payload;\n}else if (msg.topic == 'a'){\n    context.node1 = msg.payload;\n}\nelse if (msg.topic == 'chedo'){\n    context.node2 = msg.payload;\n}\nif(context.node2 == 'OFF'){\n    \n}else{\n\n    if(context.node1 < context.node){\n    return{ topic : 'd', payload:4}\n}else{\n    return{topic : 'e', payload:5}\n}\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "ef76d14bfb28f704"
            ]
        ]
    },
    {
        "id": "e81bc561740a5b86",
        "type": "mqtt out",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "event",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee501384ebab4db7",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "53b0cfca8817aeed",
        "type": "ui_switch",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "label": "Tự Động",
        "tooltip": "",
        "group": "f744e1baa03aa225",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "chedo",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "c64afc4565c00723",
                "d0ff97830ac72647",
                "4b229f2162bb98ee"
            ]
        ]
    },
    {
        "id": "15574cf176a25cbb",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "f744e1baa03aa225",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "ON",
        "topicType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "e81bc561740a5b86"
            ]
        ]
    },
    {
        "id": "249e605294302145",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "f744e1baa03aa225",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "OFF",
        "topicType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "e81bc561740a5b86"
            ]
        ]
    },
    {
        "id": "baec9c6947c857f1",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "c64afc4565c00723"
            ]
        ]
    },
    {
        "id": "c339dddc553b790e",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.temp = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 520,
        "wires": [
            [
                "5af407426df68240"
            ]
        ]
    },
    {
        "id": "5af407426df68240",
        "type": "exec",
        "z": "54eb5b64853ddf4c",
        "command": "vcgencmd",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "b9a7e3b6cfd23fd1"
            ],
            [],
            []
        ]
    },
    {
        "id": "b9a7e3b6cfd23fd1",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "NhietDo",
        "func": "msg.payload = msg.payload.replace(\"NhietDo=\",\"\").replace(\"'C\\n\",\"\")\nmsg.topic = \"INSERT into`dht11/nhietdo`(NhietDo) VALUES (\"+msg.temp+\");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "a2a5d624abf43f6f"
            ]
        ]
    },
    {
        "id": "aa376acca5696f9b",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.humi = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 580,
        "wires": [
            [
                "912a464b352ed848"
            ]
        ]
    },
    {
        "id": "f9f2e5bea317cc2b",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "Do Am",
        "func": "msg.payload = msg.payload.replace(\"DoAm=\",\"\").replace(\"'C\\n\",\"\")\nmsg.topic = \"INSERT into`dht11/doam`(DoAm) VALUES (\"+msg.humi+\");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 560,
        "wires": [
            [
                "8ad34abde0b5a5dd"
            ]
        ]
    },
    {
        "id": "912a464b352ed848",
        "type": "exec",
        "z": "54eb5b64853ddf4c",
        "command": "vcgencmd",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "f9f2e5bea317cc2b"
            ],
            [],
            []
        ]
    },
    {
        "id": "e92dc4e285c013e4",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "8ae7337ede3437bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "num",
        "topic": "ON",
        "topicType": "str",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "98735f171d6b5629"
            ]
        ]
    },
    {
        "id": "0f7d82e68978a46d",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "8ae7337ede3437bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "OFF",
        "topicType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "98735f171d6b5629"
            ]
        ]
    },
    {
        "id": "98735f171d6b5629",
        "type": "mqtt out",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "quat",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9e361af75daf99b1",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd72033d88a02587",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "d0ff97830ac72647"
            ]
        ]
    },
    {
        "id": "d0ff97830ac72647",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "so sanh 2 so (quat)",
        "func": "context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\ncontext.node2 = context.node2 || 0;\n\nif (msg.topic == 'DHT11/DoAm'){\n    context.node = msg.payload;\n}else if (msg.topic == 'a'){\n    context.node1 = msg.payload;\n}\nelse if (msg.topic == 'chedo'){\n    context.node2 = msg.payload;\n}\nif(context.node2 == 'OFF'){\n    \n}else{\n\n    if(context.node1 < context.node){\n    return{ topic : 'd', payload:2}\n}else{\n    return{topic : 'e', payload:3}\n}\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "98735f171d6b5629"
            ]
        ]
    },
    {
        "id": "7d3ee5af098273bc",
        "type": "ui_numeric",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "label": "Đặt độ ẩm",
        "tooltip": "",
        "group": "f744e1baa03aa225",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "a",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "d0ff97830ac72647"
            ]
        ]
    },
    {
        "id": "a2a5d624abf43f6f",
        "type": "delay",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8ad34abde0b5a5dd",
        "type": "delay",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "60840003099088c6",
        "type": "ui_chart",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "f744e1baa03aa225",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "Bảng thống kê",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#7717ee",
            "#aec7e8",
            "#ff7f0e",
            "#23af23",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f685fd9dd5cbcf2a",
        "type": "mqtt in",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "TEMT6000/CuongDo",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e361af75daf99b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "e62b618351a050fe",
                "60840003099088c6",
                "0b70747511c9c01b",
                "931716b8c3fd6f1c"
            ]
        ]
    },
    {
        "id": "e62b618351a050fe",
        "type": "ui_gauge",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "6f6a4ea028d1928b",
        "order": 0,
        "width": "2",
        "height": "2",
        "gtype": "donut",
        "title": "Cuong Do Anh Sang",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#eeff00",
            "#00a331",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "60",
        "className": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "0b70747511c9c01b",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.temt = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "73c528aaef3b1430"
            ]
        ]
    },
    {
        "id": "73c528aaef3b1430",
        "type": "exec",
        "z": "54eb5b64853ddf4c",
        "command": "vcgencmd",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "41e2920b14614bed"
            ],
            [],
            []
        ]
    },
    {
        "id": "41e2920b14614bed",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "CuongDo",
        "func": "msg.payload = msg.payload.replace(\"CuongDo=\",\"\").replace(\"'C\\n\",\"\")\nmsg.topic = \"INSERT into`temt6000/cuongdo`(CuongDo) VALUES (\"+msg.temt+\");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 740,
        "wires": [
            [
                "c01839969e9fcf96"
            ]
        ]
    },
    {
        "id": "c01839969e9fcf96",
        "type": "delay",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "6",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "dca30f0ba6cc73a2",
        "type": "mysql",
        "z": "54eb5b64853ddf4c",
        "mydb": "a892b7530a610509",
        "name": "",
        "x": 1260,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ef76d14bfb28f704",
        "type": "mqtt out",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "suong",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9e361af75daf99b1",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "879d833e46369066",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "c336d4724523eec2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "OFF",
        "topicType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ef76d14bfb28f704"
            ]
        ]
    },
    {
        "id": "cab94f6779955b58",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "c336d4724523eec2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "num",
        "topic": "ON",
        "topicType": "str",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "ef76d14bfb28f704"
            ]
        ]
    },
    {
        "id": "081132816d9ddbfb",
        "type": "ui_numeric",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "label": "Đặt cường độ ánh sáng",
        "tooltip": "",
        "group": "f744e1baa03aa225",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "a",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4b229f2162bb98ee"
            ]
        ]
    },
    {
        "id": "4b229f2162bb98ee",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "so sanh 2 so (den)",
        "func": "context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\ncontext.node2 = context.node2 || 0;\n\nif (msg.topic == 'TEMT6000/CuongDo'){\n    context.node = msg.payload;\n}else if (msg.topic == 'a'){\n    context.node1 = msg.payload;\n}\nelse if (msg.topic == 'chedo'){\n    context.node2 = msg.payload;\n}\nif(context.node2 == 'OFF'){\n    \n}else{\n\n    if(context.node1 < context.node){\n    return{ topic : 'd', payload:1}\n}else{\n    return{topic : 'e', payload:0}\n}\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "e81bc561740a5b86"
            ]
        ]
    },
    {
        "id": "931716b8c3fd6f1c",
        "type": "function",
        "z": "54eb5b64853ddf4c",
        "name": "string to int",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 100,
        "wires": [
            [
                "4b229f2162bb98ee"
            ]
        ]
    },
    {
        "id": "feeaa06aaed095ab",
        "type": "remote-access",
        "z": "54eb5b64853ddf4c",
        "confignode": "9d04b20e12800614",
        "name": "",
        "verbose": 0,
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e83a99db1e0a2957",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "b171ae62922870f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "num",
        "topic": "OFF",
        "topicType": "str",
        "x": 110,
        "y": 20,
        "wires": [
            [
                "4306f0bb8ca73137"
            ]
        ]
    },
    {
        "id": "3c6b44cb12069129",
        "type": "ui_button",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "group": "b171ae62922870f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "7",
        "payloadType": "num",
        "topic": "ON",
        "topicType": "str",
        "x": 290,
        "y": 20,
        "wires": [
            [
                "4306f0bb8ca73137"
            ]
        ]
    },
    {
        "id": "4306f0bb8ca73137",
        "type": "mqtt out",
        "z": "54eb5b64853ddf4c",
        "name": "",
        "topic": "hethongtuoi",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9e361af75daf99b1",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "9e361af75daf99b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6f6a4ea028d1928b",
        "type": "ui_group",
        "name": "Giá trị cảm biến ",
        "tab": "75e73db45ab978ad",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f744e1baa03aa225",
        "type": "ui_group",
        "name": "Đèn",
        "tab": "75e73db45ab978ad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee501384ebab4db7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "3123",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8ae7337ede3437bc",
        "type": "ui_group",
        "name": "Quạt",
        "tab": "75e73db45ab978ad",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a892b7530a610509",
        "type": "MySQLdatabase",
        "name": "",
        "host": "192.168.1.3",
        "port": "3306",
        "db": "trang_trai_thong_minh",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c336d4724523eec2",
        "type": "ui_group",
        "name": "Sương",
        "tab": "75e73db45ab978ad",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d04b20e12800614",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "eh5ql01o98bxrn0pa606d3vhl2pbyeif3hotc39py2trhb6dddixu81w67t8fqt4",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "b171ae62922870f8",
        "type": "ui_group",
        "name": "Hệ thống tưới",
        "tab": "75e73db45ab978ad",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75e73db45ab978ad",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]